src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="63b4e6f0-fdd1-44bf-97b9-5c64bdcae3f9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="df7dd534-670a-4810-a3b7-8693dd85971d" >
		<http:listener doc:name="Listener" doc:id="3dd0e22e-e8a7-4491-9948-d5e535c6f6f3" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="9ef65be7-d647-41c8-b92f-4e4063283ff4" message="The Flow is started::::------&gt;#[payload]"/>
		<set-payload value="'Hello World!'" doc:name="Set Payload" doc:id="5ea736fd-4b6b-4ceb-86ce-f98a56ceb2fb" />
	</flow>
</mule>
